*{
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.responsive-container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.responsive-row{
  width: 100%;
  text-align: center;
  
}

.col-medium{
  width: 33.33%;
  float: left;
  position: relative;
  display: block;
  padding-left: 15px;
}
.responsive-box{
  border: 1px solid black;
  background-color: grey;
}
.text{
  padding: 15px;
  text-align: left;
}

.heading-box{
  min-width: 150px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.pink{
  background-color: #DE95A2;
}
.red{
  background-color: #A74545;
  color: white;
}
.cream{
  background-color: #DECE95;
}
.right{
  float: right;
}

@media only screen and (max-width: 767px) {
  .col-medium{
    width: 100%;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-medium{
    width: 50%;
    margin-top: 15px;
  }
  .responsive-row .col-medium:nth-child(3){
    width: 100%;
  }
}